<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>

        {{- $options := (dict "targetPath" "app.css" "outputStyle" "compressed" "enableSourceMap" true) -}}
        {{- $sass := resources.Get "app.sass" -}}
        {{- $style := $sass | resources.ToCSS -}}
        <link href="{{ $style.Permalink }}" media="screen" rel="stylesheet" type="text/css" />

        {{- partial "cardo.html" -}}
    </head>

    <body>
        {{- partial "header.html" . -}}
        <div id="container">
            <div id="container-inner">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
