//
// Variables
//

$monospace: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", Courier, monospace
$sans_serif: helvetica, arial, geneva, sans-serif
$serif: cardo, georgia, serif

//
// Global styles
//

html
  // Root font size. All other sizes with "rem" are relative to this.
  //
  // This corresponds to the default font size of 16px.
  font-size: 100%

  body
    font-family: $serif
    line-height: 1.7em

    #container
      margin: 40px;

      #container-inner
        margin: 0 auto;
        max-width: 580px;

  h1, h2, h3, h4, h5
    font-family: $sans_serif

  h1#title
    font-size: 3.5rem
    letter-spacing: -4px

  h1
    font-size: 2.8rem
    //hyphens: auto
    letter-spacing: -3px
    line-height: 1.1em
    margin: 40px 0

  h2
    font-size: 2rem
    letter-spacing: -2px

  h3
    font-size: 1.7rem
    letter-spacing: -2px

  h4
    font-size: 1.4rem
    letter-spacing: -2px
