html {
  // Root font size. All other sizes with "rem" are relative to this.
  //
  // This corresponds to the default font size of 16px.
  font-size: 100%
}

    #container {
        margin: 40px;

    }

        #container-inner {
            margin: 0 auto;
            max-width: 700px;
        }
